In [13]:
#shift + Enter to run a cell of code in jupyter notebook
7 % 4
#check remainder

3

In [10]:
a = 3.0
type(a)

float

In [9]:
" i'm going to "

" i'm going to "

In [11]:
print("hello \n world!")

hello
 world!

In [15]:
#string is immutabilitable

In [16]:
letter = 'z'
letter * 10

'zzzzzzzzzz'

In [17]:
string= 'hello'
string.upper()

'HELLO'

In [20]:
x = 'hi this is a string'
x.split()

['hi', 'this', 'is', 'a', 'string']

In [21]:
x.split('i')

['h', ' th', 's ', 's a str', 'ng']

In [22]:
#formatting
print('this is a string {}'.format('INSERTED'))

this is a string INSERTED

In [24]:
print('The {2} {1} {0}'.format('fox', 'brown', 'quick'))

The quick brown fox

In [25]:
print('The {0} {0} {0}'.format('fox', 'brown', 'quick'))

The fox fox fox

In [26]:
print('The {q} {b} {f}'.format(f='fox', b='brown', q='quick'))

The quick brown fox

In [35]:
result = 100/7
print("the result was {r:1.3f}".format(r=result))

the result was 14.286

In [37]:
result = 1/5
print(f'hello, this is {result}')

hello, this is 0.2

In [42]:
#list can mutate
#pop function is to return the removed last element in the list.
new_list =['a','x','c']
new_list.sort()
new_list

['a', 'c', 'x']

In [43]:
new_list.reverse()
new_list

['x', 'c', 'a']

In [44]:
removing_element = new_list.pop()
removing_element

'a'

In [45]:
new_list

['x', 'c']

In [46]:
#dictionary can mutate also
d = {'key1':['a','a','c']}
d['key1'][2].upper()

'C'

In [47]:
d['key2'] = 200
d

{'key1': ['a', 'a', 'c'], 'key2': 200}

In [48]:
d.keys()

dict_keys(['key1', 'key2'])

In [50]:
#tuple is note mutable
t = ('a', 'b')
t.index('a')

0

In [51]:
myset = set()
myset

set()

In [52]:
myset.add(2)
myset

{2}

In [53]:
#set add unique value , will not add repeated value.
mylist = [1,1,1,3,3,3,4,4,4,4,4]
set(mylist)

{1, 3, 4}

In [57]:
#IO with basic files in python

In [56]:
%%writefile myfile.txt
Hello this is a txt file
this is the second line

Writing myfile.txt

In [58]:
pwd #check your working directory

'C:\\Users\\cleopathy\\python_note\\complete_python_bootcamp'

In [59]:
myfile = open('myfile.txt')

In [60]:
myfile.read()

'Hello this is a txt file\nthis is the second line'

In [61]:
myfile.seek(0) #reset the cursor then can use read again.

0

In [62]:
myfile.read() #read file must in your working dir.

'Hello this is a txt file\nthis is the second line'

In [64]:
myfile.seek(0)
myfile.readlines()

['Hello this is a txt file\n', 'this is the second line']

In [65]:
# alternatively way to open file with certain myfile = open('C:\\Users\\cleopathy\\python_note\\complete_python_bootcamp')

In [66]:
myfile.close() #we have to close in order to avoid error.

In [67]:
# or you don't have to worry about closing file by :

In [68]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [69]:
contents

'Hello this is a txt file\nthis is the second line'

In [70]:
with open('myfile.txt', mode = 'r') as my_new_file:
    contents = my_new_file.read()

In [71]:
contents

'Hello this is a txt file\nthis is the second line'

In [72]:
#when mode is w, you will not able to read it . it is write mode.

In [73]:
with open('myfile.txt', mode ='a') as f:
    f.write('FOUR ON FOURTH')

In [74]:
with open('myfile.txt', mode = 'r') as f:
    print(f.read())

Hello this is a txt file
this is the second lineFOUR ON FOURTH