In [13]:
#shift + Enter to run a cell of code in jupyter notebook
7 % 4
#check remainder

3

In [10]:
a = 3.0
type(a)

float

In [9]:
" i'm going to "

" i'm going to "

In [11]:
print("hello \n world!")

hello
 world!

In [15]:
#string is immutabilitable

In [16]:
letter = 'z'
letter * 10

'zzzzzzzzzz'

In [17]:
string= 'hello'
string.upper()

'HELLO'

In [20]:
x = 'hi this is a string'
x.split()

['hi', 'this', 'is', 'a', 'string']

In [21]:
x.split('i')

['h', ' th', 's ', 's a str', 'ng']

In [22]:
#formatting
print('this is a string {}'.format('INSERTED'))

this is a string INSERTED

In [24]:
print('The {2} {1} {0}'.format('fox', 'brown', 'quick'))

The quick brown fox

In [25]:
print('The {0} {0} {0}'.format('fox', 'brown', 'quick'))

The fox fox fox

In [26]:
print('The {q} {b} {f}'.format(f='fox', b='brown', q='quick'))

The quick brown fox

In [35]:
result = 100/7
print("the result was {r:1.3f}".format(r=result))

the result was 14.286

In [37]:
result = 1/5
print(f'hello, this is {result}')

hello, this is 0.2

In [42]:
#list can mutate
#pop function is to return the removed last element in the list.
new_list =['a','x','c']
new_list.sort()
new_list

['a', 'c', 'x']

In [43]:
new_list.reverse()
new_list

['x', 'c', 'a']

In [44]:
removing_element = new_list.pop()
removing_element

'a'

In [45]:
new_list

['x', 'c']

In [46]:
#dictionary can mutate also
d = {'key1':['a','a','c']}
d['key1'][2].upper()

'C'

In [47]:
d['key2'] = 200
d

{'key1': ['a', 'a', 'c'], 'key2': 200}

In [48]:
d.keys()

dict_keys(['key1', 'key2'])

In [50]:
#tuple is note mutable
t = ('a', 'b')
t.index('a')

0

In [51]:
myset = set()
myset

set()

In [52]:
myset.add(2)
myset

{2}

In [53]:
#set add unique value , will not add repeated value.
mylist = [1,1,1,3,3,3,4,4,4,4,4]
set(mylist)

{1, 3, 4}

In [57]:
#IO with basic files in python

In [56]:
%%writefile myfile.txt
Hello this is a txt file
this is the second line

Writing myfile.txt

In [58]:
pwd #check your working directory

'C:\\Users\\cleopathy\\python_note\\complete_python_bootcamp'

In [59]:
myfile = open('myfile.txt')

In [60]:
myfile.read()

'Hello this is a txt file\nthis is the second line'

In [61]:
myfile.seek(0) #reset the cursor then can use read again.

0

In [62]:
myfile.read() #read file must in your working dir.

'Hello this is a txt file\nthis is the second line'

In [64]:
myfile.seek(0)
myfile.readlines()

['Hello this is a txt file\n', 'this is the second line']

In [65]:
# alternatively way to open file with certain myfile = open('C:\\Users\\cleopathy\\python_note\\complete_python_bootcamp')

In [66]:
myfile.close() #we have to close in order to avoid error.

In [67]:
# or you don't have to worry about closing file by :

In [68]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [69]:
contents

'Hello this is a txt file\nthis is the second line'

In [70]:
with open('myfile.txt', mode = 'r') as my_new_file:
    contents = my_new_file.read()

In [71]:
contents

'Hello this is a txt file\nthis is the second line'

In [72]:
#when mode is w, you will not able to read it . it is write mode.

In [73]:
with open('myfile.txt', mode ='a') as f:
    f.write('FOUR ON FOURTH')

In [74]:
with open('myfile.txt', mode = 'r') as f:
    print(f.read())

Hello this is a txt file
this is the second lineFOUR ON FOURTH

In [81]:
#data structure assessment
new_list = [1,2,3]
new_list.reverse()
print(new_list)

[3, 2, 1]

In [82]:
#comparison operator python
2.0 == 2

True

In [83]:
#logical operator AND / OR / NOT
#elif and else statement in python

#if some_condition:
    #execute some code here
#else:
    #do something else
#for loop:
mylist = [1,2,3,4,5,6,7,8,9]
for num in mylist:
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd number: {num}')

Odd number: 1
2
Odd number: 3
4
Odd number: 5
6
Odd number: 7
8
Odd number: 9

In [84]:
newlist = [(1,2),(3,4),(5,6)] #tuples inside list
for (a,b) in newlist:
    print(a)
    print(b)

1
2
3
4
5
6

In [85]:
anotherlist = [(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in anotherlist:
    print(b)

2
5
8

In [87]:
d = {'k1':1, 'k2':2, 'k3':3}
for key,value in d.items(): #item means key with value. for item in d.items, print items.
    print(value)

1
2
3

In [90]:
'''
break: breaks out of the current closest enclosing loop.
contine:goes to the top of the closest enclosing loop.
pass:does nothing at all.
'''
mystring = 'hello world'
for letter in mystring:
    if letter == 'l':
        break
    print(letter)

h
e

In [91]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [92]:
index_count = 0
for letter in 'abcde':
    print('at index {} the letter is {}'.format(index_count,letter))
    index_count += 1

at index 0 the letter is a
at index 1 the letter is b
at index 2 the letter is c
at index 3 the letter is d
at index 4 the letter is e

In [93]:
word = 'abcde'
for item in enumerate(word):
    print(item) #  return a tuple

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [94]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
for item in zip(mylist1, mylist2):
    print(item) #return a tuple:
#and zip function will go over the shortest list , ignore extra.

(1, 'a')
(2, 'b')
(3, 'c')

In [95]:
#check value in the dictionary:
'mykey' in {'mykey':345}

True

In [96]:
#shuffle function
from random import shuffle

In [97]:
mylist = [1,2,3,4,5,6,7,8,9,10]
shuffle(mylist)

In [98]:
mylist

[3, 9, 4, 5, 2, 1, 8, 6, 10, 7]

In [99]:
from random import randint
randint(0,100) # return random integer

34

In [101]:
#list comprehension
#unique way of quickly creating a list
#example:
mystring = 'hello'
mylist = []
for letter in mystring:
    mylist.append(letter)

In [102]:
mylist

['h', 'e', 'l', 'l', 'o']

In [103]:
#alternative way for above example:
mylist = [letter for letter in mystring]
mylist

['h', 'e', 'l', 'l', 'o']

In [104]:
mylist = [x for x in 'word']
mylist

['w', 'o', 'r', 'd']

In [105]:
mylist = [num**2 for num in range(0,11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [106]:
#i want even number:
mylist = [x for x in range(0,11) if x%2==0]
mylist

[0, 2, 4, 6, 8, 10]

In [107]:
celcius = [0,10,20,34.5]
fahrenheit = [((9/5)*temp + 32) for temp in celcius]
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [108]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [109]:
#nested loop
mylist = []
for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [110]:
#simple one line of code , the alternative way above
mylist = [x*y for x in [2,4,6] for y in [100,200,300]]

In [111]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [113]:
#statement assessment test


st = 'print only the words that start with s in this sentence'
list1 = st.split()
for target in list1:
    if 's' in target[0].lower: # this will avoid capital S
        print(target)

start
s
sentence

In [125]:
#use a list comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.
list_num = [x for x in range(1,50) if x%3 == 0]
list_num

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [140]:
# go through the string below and if the length of a word is even print "even!"
st = 'Print every word in this sentence that has an even number of letters'
new = st.split()
for target_word in new:
    if len(target_word)%2==0:
        print(target_word + ' is even!')
    else:
        pass

word is even!
in is even!
this is even!
sentence is even!
that is even!
an is even!
even is even!
number is even!
of is even!

In [133]:
#Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".
#Code in this cell
inte = [x for x in range(1,100)]
for num in inte:
    if num%3==0:
        print('Fizz')
    elif num%5==0:
        print('Buzz')
    elif num%3==0 and num%5==0:
        print('FizzBuzz')
    else:
        pass

Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
Fizz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
Fizz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
Fizz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
Fizz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
Fizz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
Fizz
Fizz
Buzz
Fizz
Fizz

In [136]:
#Use List Comprehension to create a list of the first letters of every word in the string below:
st = 'Create a list of the first letters of every word in this string'
hey = st.split()
hey

['Create',
 'a',
 'list',
 'of',
 'the',
 'first',
 'letters',
 'of',
 'every',
 'word',
 'in',
 'this',
 'string']

In [137]:
for word in hey:
    print(word[0])

C
a
l
o
t
f
l
o
e
w
i
t
s

In [141]:
#great job!