In [3]:
#methods and python documentations:
mylist = [1,2,3]
mylist.append(4)

In [4]:
mylist.pop()
mylist

[1, 2, 3]

In [9]:
#go to docs.python.org for more information about pytho documentation

help(mylist.insert) #or use shift tab to explore this function

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [11]:
#FUNCTIONS
def name_function():
    '''
    it is good put some instruction about this function:
    input(name)
    output(hello)
    '''
    print('hello')
name_function()

hello

In [13]:
def say_hello(name='NAME'): #default var is NAME
    return 'hello ' + name
say_hello()

'hello NAME'

In [14]:
def dog_check(mystring):
    return 'dog' in mystring.lower()

In [15]:
dog_check('haha DOG')

True

In [17]:
# *args and *kwargs:
def myfunc(a,b,c):
    #returns 5% of the sum of a and b
    return sum((a,b,c))*0.05
myfunc(40,60,0)

5.0

In [18]:
#alternative way of above:
def myfunc(*args):  #*args return a list
    return sum(args)*0.05   #*args is to avoid a lot of variables in the argument.
myfunc(1,2,3,4)

0.5

In [20]:
def myfunc(**kwargs): # **kwargs return a dictionary
    if 'fruit' in kwargs:
        print('my fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('i did not find my fruit here')
myfunc(fruit = 'apple', veggie = 'lettuce')
#**kwargs takes the key word of the argument

my fruit of choice is apple

In [26]:
def myfunc(*args, **kwargs):
    print('I would like {} {}'.format(args[0],kwargs['food']))
    
myfunc(10,20,30,fruit = 'orange', food = 'eggs', animal = 'dog')

I would like 10 eggs

In [66]:
def myfunc(*args): #return a list that only contain even number
    list1 = []
    for num in args:
        if abs(num) % 2 == 0:
            list1.append(num)
        else:
            pass
    return list1

In [67]:
myfunc(1,-2,3,3,4,6)

[-2, 4, 6]

In [134]:
#i want to def a function that return a matching string whrer every even letter is uppercase.
#and every odd numer letter is lowercase.
def myfunc(string):
    st = [] # create a empty list
    for num in range(len(list(string))):
        if num%2 == 0:
            word=string[num].lower()
            st.append(word)
        else:
            word=string[num].upper()
            st.append(word)
        result = ''.join(st) #put list to string
    return result # return a string
myfunc('Anthropomorphism')

'aNtHrOpOmOrPhIsM'

In [135]:
#reverse the text string:
def master_yoda(text):
    wordlist = text.split()
    reverse_word_list = wordlist[::-1]
    return reverse_word_list

In [136]:
master_yoda('how are you')

['you', 'are', 'how']

In [137]:
#given an integer n, return True if n is within 10 or either 100 or 200
def almost_there(n):
    return (abs(100-n) <=10) or (abs(200-n) <= 10)

In [138]:
almost_there(104)

True

In [139]:
#LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)
lesser_of_two_evens(2,4)

2

In [140]:
lesser_of_two_evens(2,5)

5

In [142]:
#ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
def animal_crackers(text):
    word_list = text.split()
    word_list[0].capitalize()
    word_list[1].capitalize()
    if word_list[0][0] == word_list[1][0]:
        return True
    else:
        return False
animal_crackers('Levelheaded Llama')

True

In [143]:
#OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
def old_macdonald(name):
    first = name[0].capitalize()
    middle = name[1:3]
    second = name[3].capitalize()
    third = name[4:]
    return first + middle + second +third
old_macdonald('macdonald')

'MacDonald'

In [202]:
#Level two problems:
'''Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3]) → True
has_33([1, 3, 1, 3]) → False
has_33([3, 1, 3]) → False
'''
def has_33(nums):
    for n in range(0,len(nums)-1):
        if nums[n] !=3:
            pass
        elif nums[n]==3 and nums[n+1]==3:
            return True
        else:
            return False
has_33([1,3,1,3,1])

False

In [192]:
#PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
#paper_doll('Hello') --> 'HHHeeellllllooo'
#paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'
def paper_doll(text):
    st = []
    for n in range(len(text)):
        word = text[n]
        st.append(word*3)
        result = ''.join(st)
    return result

#alternative way:
#def ...
#result = ''
#for char in text:
#result += char * 3
#return result
paper_doll('hello')

'hhheeellllllooo'

In [182]:
#BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
#blackjack(5,6,7) --> 18
#blackjack(9,9,9) --> 'BUST'
#blackjack(9,9,11) --> 19

In [203]:
def black_jack(a,b,c):
    if sum([a,b,c]) <= 21: # or sum(a+b+c)
        return sum([a,b,c])
    elif  11 in [a,b,c] and sum([a,b,c]) <= 31:
        return sum(a,b,c)-10
    elif sum(a,b,c)>21:
        return 'BUST'
black_jack(5,6,7)

18

In [208]:
#SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
#summer_69([1, 3, 5]) --> 9
#summer_69([4, 5, 6, 7, 8, 9]) --> 9
#summer_69([2, 1, 6, 9, 11]) --> 14
#means if a part of list start with 6 and end with 9, then ignore the part when did sum.


#this function is a little hard:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num!=6:
                total += num
                break
            else:
                add = False
        while not add:
            if num !=9:
                break
            else:
                add = True
                break
    return total
        
summer_69([1, 3, 5])

9

In [209]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [210]:
summer_69([2, 1, 6, 9, 11])

14

In [214]:
#SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order
 #spy_game([1,2,4,0,0,7,5]) --> True
 #spy_game([1,0,2,4,0,5,7]) --> True
 #spy_game([1,7,2,0,4,5,0]) --> False
def spy_game(nums):
    code = [0,0,7,'a']
    #[0,7,'a']
    #[7,'a']
    #['a']
    for num in nums:
        if num ==code[0]:
            code.pop(0)
    return len(code)==1
spy_game([1,0,2,4,0,5,7])

True

In [215]:
#lambda expressions 
#map and filter function built in python:
def square(num):
    return num**2
my_nums = [1,2,3,4,5]
for item in map(square, my_nums):
    print(item)

1
4
9
16
25

In [221]:
list(map(square, my_nums))

[1, 4, 9, 16, 25]

In [222]:
def splicer(mystring):
    if len(mystring)%2 ==0:
        return 'even'
    else:
        return mystring[0]

In [223]:
names = ['andy','eve','sally']
list(map(splicer,names)) # map function is to apply a function to the list

['even', 'e', 's']

In [225]:
#filter function is to filter according to the function
def check_even(num):
    return num%2 == 0
mynums = [1,2,3,4,5,6]
list(filter(check_even, mynums))

[2, 4, 6]

In [227]:
for n in filter(check_even, mynums):
    print(n)

2
4
6

In [228]:
#lambda expression
def square(num):
    result = num ** 2
    return result
square(3)

9

In [229]:
square = lambda num: num ** 2

In [230]:
square(5)

25

In [231]:
list(map(lambda num:num**2, mynums))

[1, 4, 9, 16, 25, 36]

In [233]:
list(filter(lambda num:num%2==0, mynums))

[2, 4, 6]

In [234]:
names

['andy', 'eve', 'sally']

In [236]:
list(map(lambda name:name[0], names))

['a', 'e', 's']

In [237]:
#nested statement and scope
x = 25
def printer():
    x=50
    return x
print(x)

25

In [238]:
print(printer())

50

In [239]:
#so nested statement the scope , the rules, LEGB. 
#l is local
#E is enclosing
#G is global
#B is built in 
lambda num:num**2

In [240]:
name = 'This is a global string' #this is global 
def greet():
    name = 'Sammy' # this is enclosing
    def hello():
        print('hello' + name)#this above is local
    hello()
greet()

helloSammy

In [243]:
x= 50
def func(x):
    print(f'X is {x}')
func(x)

X is 50

In [249]:
#function , methods homework
import math

def vol(rad):
    return (4/3)*(rad**3)*math.pi
vol(2)

33.510321638291124

In [252]:
def ran_check(num,low,high):
    if num>low and num < high:
        return f'{num} is in the range between {low} and {high}'
    else:
        return f'{num} is not in the range between {low} and {high}'
ran_check(5,2,7)

'5 is in the range of 2 and 7'

In [253]:
def ran_bool(num,low,high):
    if num>low and num < high:
        return True
    else:
        return False

In [254]:
ran_bool(2,1,10)

True

In [296]:
#Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.

#Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
#Expected Output : 
#No. of Upper case characters : 4
#No. of Lower case Characters : 33
import re
def up_low(s):
    length_up = len(re.findall(r'[A-Z]',s))
    length_lo = len(re.findall(r'[a-z]',s))
    return f'No. of Upper case characters : {length_up } '\
 f'No. of lower case characters: {length_lo}'

In [297]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

'No. of Upper case characters : 4 No. of lower case characters: 33'

In [ ]:
#Write a Python function that takes a list and returns a new list with unique elements of the first list.

#Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
#Unique List : [1, 2, 3, 4, 5]

In [300]:
def unique_list(lst):
    se = set(lst)
    return list(se)

In [301]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [302]:
#Write a Python function to multiply all the numbers in a list.

#Sample List : [1, 2, 3, -4]
#Expected Output : -24
def multiply(numbers):
    start = 1
    for item in numbers:
        start*=item
    return start
multiply([1,2,3,-4])

-24

In [303]:
#Write a Python function that checks whether a passed in string is palindrome or not.
#Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.
def palindrome(s):
    if s[0] == s[-1]:
        return True
    else:
        return False
palindrome('helleh')

True

In [304]:
import string
def ispangram(str1, alphabet=string.ascii_lowercase):  
    alphaset = set(alphabet)  
    return alphaset <= set(str1.lower())
ispangram("The quick brown fox jumps over the lazy dog")

True